src/main/resources/xsd/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/library"
           xmlns="http://example.com/library"
           elementFormDefault="qualified">

    <!-- Root element -->
    <xs:element name="library">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title" type="xs:anyURI"/>
                            <xs:element name="author" type="xs:QName"/>
                            <xs:element name="isbn" type="xs:base64Binary"/>
                            <xs:element name="test" type="xs:hexBinary"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>